<header class=" flex justify-between mx-auto">
    <img src="" alt="logo" >
    <nav>
        <ul>
            <li><a href="">Sobre mí</a></li>
            <li><a href="">Proyectos</a></li>
            <li><a href="">Contacto</a></li>
        </ul>
    </nav>
</header>